<footer>
    <hr class="my-6 border-black sm:mx-auto lg:my-8" />
    <span
        class="flex pb-7 text-black justify-center items-center mx-auto"
        >© 2024 HolyFerchDev™. Todos los derechos reservados.
    </span>
</footer>
