---
import HomeIcon from "../components/icons/HomeIcon.astro";
import Yo from "../components/icons/Yo.astro";
import ExperienceIcon from "../components/icons/ExperienceIcon.astro";
import CVIcon from "../components/icons/CVIcon.astro";
import ContactoIcon from "../components/icons/ContactoIcon.astro";
---

<header class="flex w-full py-12">
    <nav
        class="flex flex-row
        justify-center items-center
        gap-x-6 mx-auto
        sm:w-[500px]
        md:w-[680px]
        xl:w-[1120px]"
    >
        <a href="#top" class="flex flex-row gap-x-2">
            <HomeIcon />
            Home
        </a>
        <a href="#sobre-mi" class="flex flex-row gap-x-2">
            <Yo />
            Sobre mí
        </a>
        <a href="#experiencia" class="flex flex-row gap-x-2">
            <ExperienceIcon />
            Experiencia Laboral
        </a>
        <a
            href="https://acrobat.adobe.com/id/urn:aaid:sc:va6c2:de57fc53-3345-461e-a07f-b603a7d8534b"
            target="_blank"
            class="flex flex-row gap-x-2"
        >
            <CVIcon />
            Curriculum Vitae
        </a>
        <a href="mailto:fernando.rios10@hotmail.com" class="flex flex-row gap-x-2">
            <ContactoIcon />
            Contacto
        </a>
    </nav>
</header>
