---
import HomeIcon from "../components/icons/HomeIcon.astro";
import Yo from "../components/icons/Yo.astro";
import ExperienceIcon from "../components/icons/ExperienceIcon.astro";
import CVIcon from "../components/icons/CVIcon.astro";
import ContactoIcon from "../components/icons/ContactoIcon.astro";
---

<header class="flex w-full py-12">
    <nav
        class="text-black
        flex flex-col md:flex-row
        justify-center items-center
        mx-auto my-auto
        sm:w-[500px] sm:gap-x-2
        md:w-[600px] md:gap-x-4
        xl:w-[1120px] xl:gap-x-6"
    >
        <a href="#top" class="flex flex-row gap-x-1 transition hover:scale-110 hover:text-blue-900">
            <HomeIcon />
            Home
        </a>
        <a href="#sobre-mi" class="flex flex-row gap-x-1 transition hover:scale-110 hover:text-blue-900">
            <Yo />
            Sobre mí
        </a>
        <a href="#experiencia" class="flex flex-row gap-x-1 transition hover:scale-110 hover:text-blue-900">
            <ExperienceIcon />
            Experiencia Laboral
        </a>
        <a
            href="https://acrobat.adobe.com/id/urn:aaid:sc:va6c2:de57fc53-3345-461e-a07f-b603a7d8534b"
            target="_blank"
            class="flex flex-row gap-x-1 transition hover:scale-110 hover:text-blue-900"
        >
            <CVIcon />
            Curriculum Vitae
        </a>
        <a href="mailto:fernando.rios10@hotmail.com" class="flex flex-row gap-x-1 transition hover:scale-110 hover:text-blue-900">
            <ContactoIcon />
            Contacto
        </a>
    </nav>
</header>
