<span>
    Hola, soy HolyFerch
</span>

<style>
    span{
        display: block;
        font-family: monospace;
        white-space: nowrap;
        border-right: 2px solid;
        width: 19ch;

        animation: typing 2s steps(19),
        blink .5s infinite step-end alternate;
        overflow: hidden;
    }

    @keyframes typing {
        from { width: 0 }
    }

    @keyframes blink {
        50% { border-color: transparent }
    }
</style>